<%- include ("partials/header.ejs") %>

<section id="profile" class="h-screen gap-8 p-20 flex flex-row">
  <div
    class="p-8 rounded-md outline-profile h-full basis-1/4 flex flex-col items-center"
  >
    <div
      class="foto-data flex justify-center w-40 h-40 rounded-3xl bg-gradient-to-r from-cyan-500 to-blue-500"
    >
      <img class="foto mt-4" src="/images/syahdanpp.png" alt="" />
    </div>
    <div>
      <h1>Syahdan Firmansyah</h1>
      <h3>Junior Web Developer</h3>
    </div>
  </div>
  <div class="p-8 rounded-md outline-profile basis-full">02</div>
</section>

<%- include ("partials/footer.ejs") %>
