<%- include ("partials/header.ejs") %>

<section id="profile" class="p-20 flex flex-row justify-center">
  <div class="flex flex-col gap-4 items-center">
    <div class="foto-me rounded-full">
      <img src="/images/syahdanpp.png" alt="">
    </div>

    <div class="profile-data flex flex-col items-center">
    <div class="flex flex-col items-center gap-2">
      <h1 class="font-bold text-3xl tracking-wide">Syahdan Firmansyah</h1>
      <p>I'am Front End Web Developer</p>
    </div>
    <div>
      <ul class="flex flex-row gap-6 p-8">
        <li><a href=""><i class="fa-brands fa-instagram fa-2x"></i></a></i></li>
        <li><a href=""><i class="fa-brands fa-linkedin-in fa-2x"></i></a></li>
        <li><a href=""><i class="fa-brands fa-twitter fa-2x"></i></a></li>
      </ul>
    </div>
    <div>
      <button type="submit"><a class="hire-me font-bold py-2 px-4 rounded-xl tracking-widers" href="">Hire me</a></button>
    </div>
  </div>
  </div>
</section>

<%- include ("partials/footer.ejs") %>
