body{
    color: #ffffff;
    background-color: #124076;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    overflow: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.outline-profile{
    border: 2px solid #14FFEC;
    overflow: hidden;
}
.hire-me{
    background-color: #eb4b5d;
}
.hire-me:hover{
    background-color: #98303c;
}

.header-list > li:hover{
    color: #F9E897;
}

/* Profil */
#profile{
    height: 90vh;
}
.foto-me{
    background-color: #FFC374;
    width: 200px;
    height: 200px;
    text-align: center;
    overflow: hidden;
    animation: leftIn 0.3s ease-in forwards;
}
.foto-me > img{
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-bottom: 0;
    object-fit: cover;
    object-position: center center;
}

.profile-data{
    animation: rightIn 0.3s ease-in-out forwards;
}


@keyframes leftIn {
    from {
      opacity: 0;
      transform: translateX(-1000%); /* Geser ke atas sejauh 100% tinggi elemen */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
@keyframes rightIn {
    from {
      opacity: 0;
      transform: translateX(1000%); /* Geser ke atas sejauh 100% tinggi elemen */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }